[submodule "filo"]
	path = filo
	url = git@git.vauxoo.com:vauxoo/filo.git
	branch = 16.0
[submodule "product-attribute"]
	path = product-attribute
	url = git@github.com:Vauxoo/product-attribute.git
	branch = 16.0
[submodule "crm"]
	path = crm
	url = git@github.com:Vauxoo/crm.git
	branch = 16.0
